.output{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FECDAA;
    background-color: #474350;
}

.output em{
    font-size: 1.2em;
}

.output span{
    margin:5px;
}

.totals{
    font-size: 2em;
    padding-bottom: 20px;
}

.reset{
    padding: 0.75rem 2.5rem;
    background-color: #FECDAA;
    color: #474350;
}

.reset:hover,
.reset:active{
    color: #474350;
    background-color: #ffdfc7;
}