.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font: inherit;
    border: 1px solid #474350;
    background-color: #474350;
    color: #ffdfc7;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 5px;
    margin: 2.5px;
}

.button:hover,
.button:active {
    color: #FCFFEB;
    background: #65626e;
    border-color: #65626e;
}

.button:focus{
    outline:none;
}