label, input{
    display: block;
}

label{
    margin-bottom: 5px;
}

input{
    color: #626267;
    background-color: #E2DE84;
    border:2px solid #A6A670;
    border-radius: 5px;
    outline: none;
    font-size: 1.5em;
    text-align: right;
    margin-bottom: 20px;
    padding: 0.75rem;
}

input:focus{
    outline:none;
    background: #ECFEAA;
    border-color: #A6A670;;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.invalid input{
    border-color: red;
    background: #FBDADA;
}