label, input{
    display: block;
}

label{
    margin-bottom: 5px;
}

input{
    color: #474350;
    background-color: #FECDAA;
    border:2px solid #e5b593;
    border-radius: 5px;
    outline: none;
    font-size: 1.5em;
    text-align: right;
    margin-bottom: 20px;
    padding: 0.50rem;
    pointer-events: auto !important;
}

input:focus{
    outline:none;
    background: #ffdfc7;
    border-color: #e6c7b0;
}

input:focus::-webkit-input-placeholder 
{
    color: transparent;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.invalid input{
    border-color: red;
    background: #FBDADA;
}