*{
  box-sizing: border-box;
}

html{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

body{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #ffdfc7;
  overflow: hidden;
}

.layout{
  color: #474350;
  width:350px;
  display: flex;
  flex-flow: column;
  background-color: #FCFFEB;
  padding: 40px;
  border-radius: 20px;
}

